<head>        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  </head>
  
  <div class="colorUp">
    <a class="btn btn-dark m-3" href="/homec"><i class="bi bi-x" style="font-size: 20px;"></i></a>
  </div>
  
  <div class="container py-5">
    <div class="row">

    <div class="col-md-6">

        <h3>Lista de Bicicletas</h3>
        <div class="my-5"></div>

        <div *ngFor="let bicicletas of bicicletas" class="card mb-3">
        <div class="card-body">

            <div class="d-flex justify-content-between">
            <div class="fw-bold">{{ bicicletas.marca }}</div>

            <div class="text-muted">
                <i class="fa fa-edit cursor-pointer" title="Editar" (click)="edit(bicicletas)"></i>
                <i class="fa fa-trash ms-2 cursor-pointer" style="color: rgba(255, 0, 0, 0.733);" title="Eliminar" (click)="delete(bicicletas)"></i>
            </div>
            </div>

            <div>{{ bicicletas.tipo }}</div>
            <div>{{ bicicletas.color }}</div>

            <div>
                <small class="text-success" *ngIf="bicicletas.estado; else noRentado">
                    <i class="fa fa-check-circle"></i> No rentado
                </small>
            </div>

            <ng-template #noRentado>
                <small class="text-muted">
                    <i class="fa fa-clock"></i> Rentado
                </small>
            </ng-template>

        </div>
        </div>

    </div>

    <div class="col-md-6">

        <h3>Editar Estado</h3>

        <form class="mt-5" (ngSubmit)="save()">

        <div class="mb-3 form-check">
            <input type="checkbox" id="estado" name="estado" placeholder="estado" class="form-check-input" [(ngModel)]="bicicleta.estado">
            <label for="estado" class="form-check-label">Estado</label>
        </div>

        <div class="text-end">
            <button class="btn btn-primary btn-log">Guardar</button>
        </div>

        </form>

    </div>

    </div>
</div>